.page {
  font-family: var(--main-font, monospace);
  font-size: var(--main-font-size, 18px);
  line-height: 23.4px;
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.title-decor {
  color: var(--subtitle-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  align-items: center;
  margin-block-end: 40px;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  line-height: 25px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
}

.header__theme-menu {
  justify-self: end;
}

.header__title {
  color: var(--big-title-color, #db00ff);
  font-weight: 700;
  font-size: var(--big-title-size, 116px);
  line-height: 82.5%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__text {
  font-weight: 700;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  color: var(--menu-color, #ff0070);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  min-inline-size: 70px;
  min-block-size: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-hover-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color, #ff0070);
  pointer-events: none;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--menu-color, #ff0070);
  border-block-start: 1px solid var(--menu-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--menu-color, #ff0070);
  border-block-end: 1px solid var(--menu-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.main {
  display: grid;
  gap: 50px;
  margin-block-end: 40px;
  padding-inline: 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--title-color, #ff0070);
  font-weight: 700;
  font-size: var(--main-font-size, 18px);
}

.section__subtitle {
  font-size: var(--main-font-size, 18px);
}

.card-wrapper {
  display: grid;
  row-gap: 19px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: var(--main-font-size, 18px);
}

.card__title_weight_regular {
  font-weight: 400;
}

.card__text {
  color: var(--text-color);
  font-weight: 400;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.link:hover {
  border-bottom: 1px solid var(--text-color, #f1b2ce);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}

.section.images {
  gap: 10px;
}

.images__item {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--big-title-color, #db00ff);
  font-weight: 700;
  font-size: var(--big-title-size, 116px);
  line-height: 82.5%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

@media (width >= 768px) {
  .header {
    margin-block-end: 60px;
    padding: 20px;
    min-block-size: 1024px;
  }

  .header__title {
    position: relative;
    justify-self: start;
    font-size: var(--big-title-size, 120px);
    inset-inline-start: -20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .header__text {
    justify-self: end;
    inline-size: 50%;
    max-inline-size: 491px;
  }

  .main {
    gap: 80px;
    margin-block-end: 60px;
    padding-inline: 20px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section__title {
    grid-row: 1 / span 2;
  }

  .card {
    grid-column: 2;
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / -1;
    row-gap: 20px;
  }

  .images .section__subtitle {
    grid-column: 1 / -1;
  }

  .section.images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: green;
  }

  .images__item {
    height: 100%;
  }

  .images__item:nth-of-type(1) {
    grid-column: span 2;
  }

  .images__item:nth-of-type(2) {
    grid-row: span 2;
  }

  .images__item:nth-of-type(3) {
    grid-row: span 2;
  }

  .images__item:nth-of-type(5) {
    grid-column: span 2;
  }

  .footer__title {
    font-size: var(--big-title-size, 120px);
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 668px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    row-gap: 20px;
    column-gap: 10px;
  }

  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .card-wrapper .card {
    grid-column: auto;
  }
}
