:root {
  --main-font: "IBM Plex mono";
  --main-font-size: 18px;
  --bg-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --title-color: #ff0070;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --menu-color: #ff0070;
  --menu-hover-color: rgba(255, 0, 112, .4);
  --big-title-color: #db00ff;
  --big-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --big-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
